---
---
$black-color: #000000;
$white-color: #FFFFFF;
$primary-color: #3399FF;

$footer-line-height: 30px;
$footer-padding: 10px;
$footer-height: ($footer-line-height + ($footer-padding * 2));
$main-padding: 15px;


*,
:after,
:before {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Sigmar One', Arial, sans-serif;
  margin: 0;
  padding-bottom: $footer-height;
  background-color: $white-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: lighten($primary-color, 15%);
  }
}

main {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: $main-padding;
  background-color: $primary-color;
}

footer {
  width: 100%;
  height: $footer-height;
  padding: $footer-padding $main-padding;
  color: $primary-color;
  font-size: 16px;
  text-align: right;

  .copyright {
    float: left;
    margin: 0;
    padding-right: $main-padding;
    font-size: 32px;
    line-height: $footer-line-height;
    text-align: left;
  }

  .copyright-year {
    display: none;
  }

  .social-links {
    float: right;
    height: $footer-line-height;
    list-style: none;
    margin: -2px 0 0 0;
    padding: 0;
    overflow: hidden;

    li {
      display: inline;

      a > .fa-stack {
        margin: 0 -3px;
        vertical-align: top;
      }
    }
  }
}

.cover-container {
  display: table-cell;
  vertical-align: middle;
}

.cover {
  width: 100%;
  text-align: center;
}

.cover-heading {
  margin: 15px 0 0 0;
  color: $white-color;
  font-size: 32px;
  font-weight: normal;
}

.cover-logo {
  font-size: 64px;
  color: $white-color;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 576px) {
  footer {
    .copyright {
      font-size: inherit;
    }

    .copyright-year {
      display: inline;
    }
  }

  .cover-heading {
    font-size: 72px;
  }

  .cover-logo {
    font-size: 128px;
  }
}
