---
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% if page.title or layout.title %}
      <title>
        {{ page.title | default: layout.title | escape }}
        {% if paginator and paginator.page > 1 %}(Page {{ paginator.page }}){% endif %}
        &middot; {{ site.title | escape }}
      </title>
    {% else %}
      <title>{{ site.title | escape }}</title>
    {% endif %}

    {% seo title=false %}
    {% feed_meta %}

    {% if page.previous %}
      <link rel="prev" href="{{ page.previous.url | absolute_url }}">
    {% endif %}
    {% if page.next %}
      <link rel="next" href="{{ page.next.url | absolute_url }}">
    {% endif %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Sigmar+One">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ '/assets/img/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/img/android-chrome-192x192.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png' | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
    <link rel="manifest" type="application/manifest+json" href="{{ '/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" type="image/svg+xml" href="{{ '/assets/img/safari-pinned-tab.svg' | relative_url }}" color="{{ site.browser_theme_color }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="msapplication-config" content="{{ '/browserconfig.xml' | relative_url }}">
    <meta name="msapplication-TileColor" content="{{ site.browser_theme_color }}">
    <meta name="theme-color" content="{{ site.browser_theme_color }}">
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="{{ '/assets/js/analytics.js' | relative_url }}"></script>
  </body>
</html>
